.color-checker-workspace {
  //   border: 1px dashed pink;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  > svg {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0;
    margin: 0;

    .handle {
      > .grabme {
        cursor: pointer;
        fill: transparent;
        stroke-width: 1;
        stroke: black;
        opacity: 0.1;

        &:hover {
          opacity: 1;
        }
      }

      > .cursor {
        line {
          stroke-width: 2;
          stroke: red;
        }

        > g {
          animation: cursor-animation 1s ease-in-out infinite;
        }
      }
    }

    .item {
      // r: 5;
    }
  }
}

@keyframes cursor-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
